$dark-gray: #333;
$off-white: #efefef;
$green: #50f95f;
$divider-size: 2px;
$divider-color: darken($dark-gray, 10%);
$header-height: 2rem;
$footer-height: 2rem;

html {
  background-color: $dark-gray;
  color: $off-white;
}

body {
  max-width: 55rem;
  padding: 0.5rem;
  width: 96%;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: large;
}

h1, h2, h3 {
  font-family: 'Futura', 'Trebuchet MS', 'sans-serif';
}

a, a:visited {
  color: $green;
  text-decoration: none;

  &:hover {
    color: lighten($green, 20%);
  }
}

.taxonomy-list {
  padding-left: 0;
  li {
    display: inline-block;
    background-color: darken($dark-gray, 10%);
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
  }
}

ul.taxonomy-index {
  li {

  }
}

.article-index {
  article {

  }
}

header {
  padding: 1rem 0 0.5rem 0;
  border-bottom: $divider-size solid $divider-color;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  font-size: 1.5rem;
  margin: 0;

  a {
    color: $off-white;
    &:hover {
      color: $off-white;
    }
  }
}

nav {
  &.primary {
    vertical-align: bottom;
    line-height: $footer-height;

    a {
      padding: 0 0.5rem;
      border-right: $divider-size solid $divider-color;
      &:last-of-type {
        border: none;
        padding-right: 0;
      }
    }
  }

  &.intra {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

footer {
  border-top: $divider-size solid $divider-color;
  padding: 1rem 0 0.5rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: darken($off-white, 30%);

  .copywrong {
    line-height: $footer-height;
  }

  .icons {
    height: $footer-height;
    display: inherit;
    a.social {
      height: $footer-height;
      padding: 0 0.3rem;
      color: darken($off-white, 40%);
      &:hover {
        color: darken($off-white, 20%);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}


main {

}

section.after-main {
  padding: 1rem 0;
}


h1.title {
  margin: 2rem 0 1rem 0;
}

.meta {
  font-size: smaller;
}

.content {
  margin-top: 2.5rem;
}

a.more-posts {
  display: block;
  margin-top: 2rem;
  font-size: larger;
}


blockquote {
  border-left: $divider-size solid $divider-color;
  background-color: lighten($dark-gray, 5%);
  padding: 0.2rem 2rem;
  margin: 0.5rem 0;
}

hr {
  background-color: $divider-color;
  height: $divider-size;
  border: 0;
  width: 100%;
}