$dark-gray: #333;
$off-white: #efefef;
$green: #50f95f;
$divider-size: 2px;
$divider-color: darken($dark-gray, 10%);
$footer-height: 2rem;


html {
  background-color: $dark-gray;
  color: $off-white;
}

body {
  max-width: 55rem;
  padding: 0.5rem;
  width: 96%;
  margin: 0 auto;
  font-family: 'Helvetica', 'sans-serif';
  font-size: large;
}

a, a:visited {
  color: $green;
  text-decoration: none;

  &:hover {
    color: lighten($green, 20%);
  }
}

.taxonomy-list {
  padding-left: 0;
  li {
    display: inline-block;
    background-color: darken($dark-gray, 10%);
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
  }
}

ul.taxonomy-index {
  li {

  }
}

.article-index {
  article {

  }
}

header {
  padding: 1rem 0;
  border-bottom: $divider-size solid $divider-color;
}

.header-title {
  display: inline-block;
  font-family: 'Century Gothic', 'Helvetica', 'sans-serif';

  margin: 0;
  a {
    color: $off-white;
  }
}


footer {
  border-top: $divider-size solid $divider-color;
  text-align: center;
  padding: 0.5rem;
  color: darken($off-white, 30%);
  height: $footer-height;

  .copywrong {
    height: $footer-height;
    line-height: $footer-height;
    float: left;
  }

  a.social {
    float: right;
    height: $footer-height;
    padding: 0 0.3rem;
    color: darken($off-white, 40%);
    &:hover {
      color: darken($off-white, 20%);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}


main {

}

section.after-main {
  padding: 1rem 0;
}

nav {
  &.primary {
    display: inline-block;
    float: right;
  }

  &.intra {
    width: 100%;
    text-align: center;
  }

  a {
    padding: 0 0.5rem;
    display: inline-block;
    border-right: $divider-size solid $divider-color;
    &:last-of-type {
      border: none;
    }
  }
}

h1.title {
  margin: 2rem 0 1rem 0;
}

.meta {
  font-size: smaller;
}

.content {
  margin-top: 2.5rem;
}

blockquote {
  border-left: $divider-size solid $divider-color;
  background-color: lighten($dark-gray, 5%);
  padding: 0.2rem 2rem;
  margin: 0.5rem 0;
}

hr {
  background-color: $divider-color;
  height: $divider-size;
  border: 0;
  width: 100%;
}