{% set static = get_section(path="static/_index.md") %}
{% import "icons.html" as icons %}

<!doctype html>

<html lang="{{ config.language_code }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="{{ config.extra.author.name }}">
  <link href="/main.css" rel="stylesheet">

  <title>{% block title %}{% endblock title %} | {{ config.title }}</title>
</head>

<body>
  <header>
    <h1 class="header-title">
      <a href="/" title="Home">{{ config.title }}</a>
    </h1>

    <nav class="primary">
      {% for page in static.pages %}<a href="{{ page.permalink }}">{{ page.title }}</a>{% endfor %}
    </nav>
  </header>

  <main>{% block main %}{% endblock main %}</main>

  <section class="after-main">
    {% block after_main %}{% endblock after_main %}
  </section>

  <footer class="footer">
    <div class="copywrong">&copy; <time datetime="2018">2018</time></div>

    <div class="icons">
      <a title="Colophon" class="social" href="{{ get_url(path = "./system/colophon.md") }}">
        {{ icons::pencil() }}
      </a><a  title="RSS Feed" class="social" href="/rss.xml">
        {{ icons::rss() }}
      </a><a  title="Github" class="social" href="https://github.com/macowie">
        {{ icons::github() }}
      </a>
    </div>
  </footer>
</body>

</html>