{% set static = get_section(path="static/_index.md") %}
{% import "icons.html" as icons %}

<!doctype html>

<html lang="{{ config.language_code }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="{{ config.extra.author.name }}">
  <link href="/main.css" rel="stylesheet">

  <title>{% block title %}{% endblock title %} | {{ config.title }}</title>
</head>

<body>
  <header>
    <h3 class="header-title">
      <a href="/" title="Home">{{ config.title }}</a>
      <small>{{ config.extra.subtitle }}</small>
    </h3>

    <nav class="primary">
      {% for page in static.pages %}<a href="{{ page.permalink }}">{{ page.title }}</a>{% endfor %}
    </nav>
  </header>

  <main>{% block main %}{% endblock main %}</main>

  <section class="after-main">
    {% block after_main %}{% endblock after_main %}
  </section>

  <footer class="footer">
    <span class="copywrong">&copy; <time datetime="2018">2018</time></span>

    <a class="social" href="{{ get_url(path = "./system/colophon.md") }}">
      {{ icons::pencil() }}
    </a><a class="social" href="/rss.xml">
      {{ icons::rss() }}
    </a><a class="social" href="https://github.com/macowie">
      {{ icons::github() }}
    </a>
  </footer>
</body>

</html>