<!doctype html>

<html lang="{{ config.language_code }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="{{ config.extra.author.name }}">
  <link href="/main.css" rel="stylesheet">

  <title>{% block title %}{% endblock title %} | {{ config.title }}</title>
</head>

<body>
  <header>
    <h3 class="header-title">
      <a href="/" title="Home">{{ config.title }}</a>
      <small>{{ config.extra.subtitle }}</small>
    </h3>
  </header>

  <main>{% block main %}{% endblock main %}</main>
  <section>{% block after_main %}{% endblock after_main %}</section>

  <footer class="footer">
    <hr>
    <small>
      &copy; <time datetime="2018">2018</time>. All rights reserved.
      <a href="{{ get_url(path="./pages/contact.md") }}">Contact</a>
    </small>
  </footer>
</body>

</html>