{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Home{% endblock title %}

{% block main %}

{% set posts = get_section(path="posts/_index.md") %}

{% for page in posts.pages | filter(attribute="draft", value=false) %}
  {% if page == loop.first %}
    {{ macros::post_listing_extended(page=page) }}
  {% else %}
    {{ macros::post_listing(page=page) }}
  {% endif %}
{% endfor %}

<a href="{{ posts.permalink }}" class="more-posts">More {{ posts.title }}  &raquo;</a>

{% endblock main %}

