
{% macro time_tag(date) %}
  <time datetime="{{ date | date(format="%Y-%m-%d") }}">
    {{ date | date(format="%d %b %Y") }}
  </time>
{% endmacro time_tag %}

{% macro post_listing(page) %}
  <article>
    <h2 class="post-title">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h2>
    {{ macros::time_tag(date = page.date) }}

    {{ page.summary | safe }}
  </article>
{% endmacro post_listing %}

{% macro toc(toc) %}
<aside id="toc">
  <h2>Table of Contents</h2>
  <ol>
    {% for h2 in toc %}
      <li>
        <a href="{{h2.permalink | safe}}">{{ h2.title | safe }}</a>
        {% if h2.children %}
        <ol>
          {% for h3 in h2.children %}
            <li>
              <a href="{{h3.permalink | safe}}">{{ h3.title | safe }}</a>
            </li>
          {% endfor %}
        </ol>
        {% endif %}
    </li>{% endfor %}
  </ol>
</aside>
{% endmacro toc %}
