{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}

{% block main %}
<h1 class="title">{{ page.title }}</h1>

<div class="meta">
  {{ macros::time_tag(date = page.date) }}
  {% for category in page.taxonomies.category %}
  // <a href="{{ get_taxonomy_url(kind="category", name=category) }}">
    {{ category }}
  </a>
  {% endfor %}
</div>

<div class="content">
  {{ page.content | safe }}
</div>

<ul class="taxonomy-list tag">
  {% for tag in page.taxonomies.tags %}
  <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
    <li>{{ tag }}</li>
  </a>
  {% endfor %}
</ul>
{% endblock main %}


{% block after_main %}
<nav class="intra">
  {% if page.earlier %}
  <a class="prev" href="{{ page.earlier.permalink }}">&laquo; {{ page.earlier.title }}</a>
  {% endif %}{% if page.later %}
  <a class="next" href="{{ page.later.permalink }}">{{ page.later.title }} &raquo;</a>
  {% endif %}
</nav>
{% endblock after_main %}