{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}


{% block main %}

<h1 class="title">{{ page.title }}</h1>

<div class="meta">
  {{ macros::time_tag(date = page.date) }} /
  <a href="/categories/{{ page.category | slugify }}">{{ page.category }}</a>
</div>

<div class="content">
  {{ page.content | safe }}
</div>

<ul class="taxonomy-list tag">
  {% for tag in page.tags %}
    <a href="/tags/{{ tag | slugify }}"><li>{{ tag }}</li></a>
  {% endfor %}
</ul>


{% endblock main %}


{% block after_main %}
<nav class="intra">
  {% if page.previous %}
    <a class="prev" href="{{ page.previous.permalink | safe }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}{% if page.next %}
    <a class="next" href="{{ page.next.permalink | safe }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</nav>
{% endblock after_main %}


